<h1>People on Makany</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>Gender</th>
  </tr>

<% for person in @people %>
  <%if (person.username != current_person.username)%>
  <tr>
    <td><%=h person.first_name %></td>
    <td><%=h person.last_name %></td>
    <td colspan="2"><%= link_to 'Show Limited Profile', person %></td>
    <td colspan="2"><%= link_to 'Request Friendship', friend_invitations_path(:receiver_id=>person), :method=>:post %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New person', new_person_path %>
