<p>
  <b>Name:</b>
  <%=h @person.full_name%>
</p>
<p>
<%= image_tag @person.photo.url(:small),:class=>'profile_image' %>
</p>

<%if (@person.sent_friend_invitations.count >0)%>
<p>
 <h2>Your Sent Friend Invitations </h2>
 <ul>
   <% for sent_friend_invitation in @person.sent_friend_invitations %>
     <li>
       <%=image_tag Person.find(sent_friend_invitation.receiver_id).photo.url(:small)  %>
       <%=h Person.find(sent_friend_invitation.receiver_id).full_name %>
     </li>
  <% end %>
 </ul>
</p>
<%end%>

<%if (@person.received_friend_invitations.count >0)%>
<p>
 <h2>People who want to be your friends</h2>
 <ul>
   <% for received_friend_invitation in @person.received_friend_invitations %>
     <li>
       <%=image_tag received_friend_invitation.sender.photo.url(:small)  %>
       <%=h received_friend_invitation.sender.full_name %>
       <%= link_to 'Accept Friendship', friendships_path(:friend_id=>received_friend_invitation.sender), :method=>:post %>
     </li>
  <% end %>
 </ul>
</p>
<%end%>

<%if (@person.friendships.count >0) || (@person.inverse_friendships.count >0) %>
<p>
 <h2>Your Friends</h2>
 <ul>
   <% for friendship in @person.friendships %>
     <li>
      <%=image_tag friendship.friend.photo.url(:small)  %>
      <%=h friendship.friend.full_name %>
     </li>
     (<%=link_to 'Remove Friend',friendship,:method=>:delete%>)
  <% end %>
   <% for inverse_friendship in @person.inverse_friendships %>
     <li>
      <%=image_tag inverse_friendship.person.photo.url(:small)  %>
      <%=h inverse_friendship.person.full_name %>
     </li>
     (<%=link_to 'Remove Friend',friendship,:method=>:delete%>)
  <% end %>
 </ul>
</p>
<%else%>
<p>
  You currently have no Friends.
  <%=link_to 'Add Friends',people_path%>
</p>
<%end%>
<p>
  <h2>Current Location:</h2>
</p>

<div id="recentLocations" class="recentLocations">
 <h2> Places Visited Recently </h2>
  <table>
  <th>Place name</th>
  <% for place in @person.places %>
  <tr>
    <td><%=h place.place_name %></td>
    <td><%= link_to 'More About this place', place %></td>
  </tr>
<% end %>
</table> 
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
