<table>
  <tr>
    <td>
      <%= image_tag @person.photo.url(:small),:class=>'profile_image' %>
    </td>
    <td>
      <h1><%=@person.full_name%></h1>
    </td>
  </tr>
</table>
<p>
 <h2> Ekahau Places Visited Recently </h2>
  <table>
   <%for event in @event_history %>
  <tr>
    <%unless event.get_location.nil?%>
    <td><%=h event.get_location.get_zone_name%></td>

   <%end%>
 </tr>
  <%end%>
</table>
</p>

<div id="recentLocations" class="recentLocations">
 <h2> Places Visited Recently </h2>
  <table>
  <% for place in @person.places %>
  <tr>
    <td><%=h place.place_name %></td>
    <td><%= link_to 'More About this place', place %></td>
  </tr>
<% end %>
</table>
</div>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
