<p>
  <b>Course:</b>
  <%=h @section.course_id %>
</p>

<p>
  <b>Section number:</b>
  <%=h @section.section_number %>
</p>

<p>
  <b>Student enrollment:</b>
  <%=h @section.student_enrollment %>
</p>

<p>
  <b>Description:</b>
  <%=h @section.description %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
