 <h2> Welcome to Makany </h2>

 <% form_for @person_session do |form| %>
   <%= error_messages_for :person_session,:header_message=>'Makany has problems logging you in. Please try again'%>
   <p>
     <%= form.label :username, "Username" %>
     <%= form.text_field :username %>
   </p>
   <p>
      <%= form.label :password, "Password" %>
      <%= form.password_field :password %>
    </p>
    <p>
      <%= form.submit "Login!" %>
    </p>
 <% end %>