<h1>New Place Type</h1>

<% form_for(@place_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :place_type %><br />
    <%= f.text_field :place_type %>
  </p>
  <p>
    <%= f.label :place_description %><br />
    <%= f.text_field :place_description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', place_types_path %>
