<h1>Editing course</h1>

<%= error_messages_for :course %>

<% form_for(@course) do |f| %>
  <p>
    <b>Code</b><br />
    <%= collection_select(:course, :course_code_id,CourseCode.find(:all),:id, :code_name, {:prompt=>true}) %>
  </p>

<p>
    <b>Number</b><br />
    <%= f.text_field :course_number %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
