<p>
  <b>Course Code:</b>
  <%=h CourseCode.find(@course.course_code_id).code_name %>
</p>

<p>
  <b>Number:</b>
  <%=h @course.course_number %>
</p>
<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>




<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
