<h1>New place</h1>

<% form_for(@place) do |f| %>
  <%= f.error_messages %>

  <p>
    <b><%= f.label :place_name %></b><br />
    <%= f.text_field :place_name %>
  </p>
  <p>
    <b>Place Type </b> <br />
    <%= collection_select(:place, :type_id,PlaceType.find(:all),:id, :place_type, {:prompt=>true})  %>
  </p>
  <!--<p>
    <#%= f.label :location_id %><br />
    <#%= f.text_field :location_id %>
  </p>-->
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', places_path %>
