<h1>New place</h1>

<% form_for(@place) do |f| %>
  <%= f.error_messages %>

  <p>
    <h3><%= f.label :place_name,"Name" %></h3>
    <%= f.text_field :place_name %>
  </p>
  <p>
    <h3>Type of Place</h3>
    <%= collection_select(:place, :type_id,PlaceType.find(:all),:id, :place_type, {:prompt=>true})  %>
  </p>
  <p>
    <%= f.label :address,"Address" %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :zip_code,"Zip Code" %><br />
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <h3>City</h3>
       <%= collection_select(:place, :city_id,City.find(:all),:id, :city_name, {:prompt=>true})  %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', places_path %>
