<p>
  <h2><%=@place.place_name %></h2>
</p>

<p>
  <%=h PlaceType.find(@place.type_id).place_type %>
</p>

<p>
  <%= @place.address %> 
</p>
<p>
<%= @map.to_html %>
<%= @map.div(:width => 500, :height => 200) %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
