<p>
  <b>Place name:</b>
  <%=h @place.place_name %>
</p>

<p>
  <b>Type:</b>
  <%=h PlaceType.find(@place.type_id).place_type %>
</p>

<p>
  <b>Location:</b>
<%= @map.to_html %>
<%= @map.div(:width => 600, :height => 400) %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
